@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --brown:#59291C;
  --white: #FFFFFF;
  --yellow: #FAAF18;
  --bege: #F5ECE7;
  --orange: #ED7902;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 124.9rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
  gap: 7rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 7.7rem;
}
header nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
header nav ul li a span {
  color: #59291C;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.s-hero {
  width: 100%;
  height: 62.3rem;
  background: linear-gradient(164.37deg, rgba(239, 225, 218, 0.0001) 3.82%, #EFE1DA 90.95%);
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
}
.s-hero .left-container {
  padding-top: 12rem;
  flex: 1;
  max-width: 52.7rem;
}
.s-hero .left-container h3 {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
}
.s-hero .left-container h3:after {
  content: "";
  flex: 1;
  max-width: 29rem;
  height: 2px;
  background: url("../assets/img/line.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .left-container .value {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-hero .left-container .value:after {
  content: "";
  background: url("../assets/img/arrow-btn.svg") no-repeat center center;
  width: 5.73rem;
  height: 5.73rem;
  position: absolute;
  right: -8rem;
  top: 2.3rem;
}
.s-hero .left-container .value h2 {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.s-hero .left-container .value span {
  color: var(--brown);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: -0.371px;
  text-align: left;
}
.s-hero .left-container .value button {
  padding: 2.2rem 5.2rem;
  background-color: var(--brown);
  border-radius: 5px;
  box-shadow: 0px 10px 40px 0px rgba(89, 41, 28, 0.6);
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.s-hero .right-container {
  position: relative;
  flex: 1;
  max-width: 52.8rem;
  height: 66.3rem;
  background-color: var(--yellow);
  border-radius: 0px 0px 12px 12px;
  padding-top: 9.5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.s-hero .right-container .images {
  position: absolute;
  /*
  Quando um elemento tem position: absolute, ele será posicionado em relação ao seu elemento pai mais próximo 
  que tenha position: relative, absolute, fixed, ou sticky (ou seja, diferente de static)
  */
  width: 68.416rem;
  height: 49.237rem;
}
.s-hero .right-container .images img {
  position: absolute;
}
.s-hero .right-container .images img#refri {
  top: 2.5rem;
  left: 0;
  z-index: 1;
}
.s-hero .right-container .images img#fritas {
  top: 0;
  right: 0;
  z-index: 1;
}
.s-hero .right-container .images img#hamburguer {
  left: 5.2rem;
  bottom: 0;
  z-index: 2;
}
.s-hero .right-container .images img#logo-bk {
  right: 6px;
  bottom: 10px;
  z-index: 3;
}
.s-hero .right-container .offer {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
}
.s-hero .right-container .offer::before {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url("../assets/img/line-left.svg") center center no-repeat;
}
.s-hero .right-container .offer::after {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url("../assets/img/line-right.svg") center center no-repeat;
}
.s-hero .right-container .offer p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  display: flex;
  align-items: center;
}
.s-hero .right-container .offer p img {
  margin-right: 1.6rem;
}
.s-hero .right-container .offer p strong {
  margin-left: 0.5rem;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */